POSTGRES_DB=opsflow
POSTGRES_USER=opsflow
POSTGRES_PASSWORD=opsflow_local_password
POSTGRES_PORT=5432

# Keycloak variables
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=replace_with_a_local_password
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=replace_with_a_local_admin_password
KEYCLOAK_PORT=8081
KEYCLOAK_MANAGEMENT_PORT=9000
